#zero_config table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word; 
}
#zero_config thead,
#zero_config th {text-align: center;}

#reporting_table table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word; 
}
#reporting_table thead,
#reporting_table th {text-align: center;}


#reporting_officer_table table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word; 
}
#reporting_officer_table thead,
#reporting_officer_table th {text-align: center;}

#register_table table{
    margin: 0 auto;
    width: 100%;
    clear: both;
    border-collapse: collapse;
    table-layout: fixed;
    word-wrap:break-word; 
}
#register_table thead,
#register_table th {text-align: center;}


.head_table th {text-align: center;}
.content_center_table td {text-align: center;}
 
.danger-required {
    color: red;
}

.search-content {
    background-color: #f9d7e7;
    width: 100%;
    height: 400px;
}

.hide-element {
    display: none !important;
}

.show-element {
    display: block !important;
}

.img-sample  {
    height:110px !important;
    width:auto;
    max-width: 100px;
}

.preview {
    height:110px !important;
    width:auto;
    max-width: 100px;
}
