.block-list-job {
    width: 75%;
}

.block-list-job .item-list-job {
    position: relative;
    width: 100%;
    min-height: 160px;
    padding: 10px 145px 10px 180px;
    border: 1px solid #e5e5e5;
    position: relative;
    background-color: #f7fbff;
    border-radius: 8px;
    margin-bottom: 12px;
    top: 0;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.item-list-job:hover { border:1px solid #348aee; }

.block-list-job .item-list-job .list-job-img {
    background-color: #fff;
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    top: 10px;
    left: 10px;
    width: 140px;
    height: 140px;
    border: 1px solid #e5e5e5;
    border-radius: 2px;
    overflow: hidden;
}

.block-list-job .item-list-job .list-job-img img {
    max-width: 100%;
    max-height: 140px;
}

img {
    border-style: none;
}

.block-list-job .item-list-job .list-job-content {
    width: 100%;
}

.block-list-job .item-list-job .list-job-action {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 18%;
}

.block-list-job .item-list-job .list-job-content .list-job-content-title {
    margin: 0 0 10px 0;
}

.block-list-job .item-list-job .list-job-content .list-job-content-address {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 0 0 5px 0;
}

.block-list-job .item-list-job .list-job-content .list-job-content-address .item-content-address {
    margin: 0 12px 5px 0;
    font-weight: bold;
    font-size: 12px;
    color: #1f1f1f;
}

.block-list-job .item-list-job .list-job-content .list-job-content-loader {
    max-width: 280px;
}

.block-list-job .item-list-job .list-job-content .list-job-content-loader h3 {
    font-size: 16px;
    color: #327a05;
    margin: 0 0 5px 0;
}

.block-list-job .item-list-job .list-job-content .list-job-content-loader .job-content-loader {
    position: relative;
    background-color: #9e9a9a;
    width: 100%;
    height: 7px;
    overflow: hidden;
    border-radius: 1000px;
}

.block-list-job .item-list-job.list-page .list-job-action {
    top: auto;
    bottom: 10px;
    right: 10px;
}

.text-sky {
    color: #348bee !important;
}

.fillter-list-action {
    width: 25%;
    padding-right: 0px;
}


.fillter-list-action .block-fillter-list-action .body-fillter-list {
    background-color: #f7fbff;
    border-radius: 8px;
    padding: 15px;
    margin-top: 15px;
    margin-left: 15px;
}

.fillter-list-action .block-fillter-list-action {
    margin-top: 0x;
}

.fillter-list-action .block-fillter-list-action .body-fillter-list .item-body-fillter-list h3 {
    font-size: 16px;
    margin: 0 0 10px 0;
    color: #003d6b;
}

.fillter-list-action .block-fillter-list-action .body-fillter-list .item-body-fillter-list .item-fillter-select.icon select.fm-control {
    padding-left: 30px;
    border : 1px solid #3d9def;
    border-radius: 8px;
}

.custom-fillter-select {
    display: inline-block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        padding-left: 0.75rem;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.5;
    /*color: #4F5467;*/
    color : #999;
    vertical-align: middle;
    background: #fff url(../../images/custom-select.png) no-repeat right 0.75rem center/8px 10px;
        background-size: 8px 10px;
    border: 1px solid #e9ecef;
    border-radius: 2px;
    appearance: none;
}

.select2-container--default .select2-selection--single {
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
        
    padding-left: 30px;
    background: #fff url(../../images/custom-select.png) no-repeat right 0.75rem center/8px 10px;
        background-size: 8px 10px;
    border : 1px solid #3d9def;
    border-radius: 8px;
    height: calc(1.5em + 0.75rem + 2px);
    line-height: 1.5;
}

.select2-selection__arrow b{
    display:none !important;
}

/*select option:first-child { color:green; }*/

select{
    color: red;
    }
select option { color: black; }


.fillter-list-action .block-fillter-list-action .body-fillter-list .item-body-fillter-list .item-fm-icon.prompt-search input {

    border: 1px solid #3d9def !important;
    font-size: 14px;
    border-radius: 8px !important;
    color: #003d6b;
    padding: 10px;
        padding-right: 10px;
    -webkit-transition: .3s;
    transition: .3s;
    width: 100%;
}

.fillter-button {
    background: #2962FF;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.reset-fillter-button {
    background: #949494;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.block-pagination {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin: 30px 0 15px 0;
}

.block-pagination .pagination-list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 0;
    margin: 0;
    padding: 0 10px;
}

.block-pagination .pagination-list li.active, .block-pagination .pagination-list li:hover {
    border-color: #358bee;
}

.block-pagination .pagination-list li {
    margin: 0 2px;
    border: 1px solid #fff;
        border-top-color: rgb(255, 255, 255);
        border-right-color: rgb(255, 255, 255);
        border-bottom-color: rgb(255, 255, 255);
        border-left-color: rgb(255, 255, 255);
    -webkit-transition: .3s ease all;
    transition: .3s ease all;
    border-radius: 4px;
}

.block-pagination .pagination-list li a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 22px;
    height: 22px;
    padding: 5px 2px;
    font-size: 14px;
    text-decoration: none;
    color: #3a3a3a;
}

.fav-button {
    background: #6c757d;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.apply-job-button {
    background: #2962FF;
    color: #fff;
    display: block;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    margin-top: 10px;
}

.fav-icon {
    font-size: 1.5em; 
    color: Tomato;
}

.fav-tomato {
    color: Tomato;
}

.applying-job-button {
    background: transparent;
    color: #36bea6;
    display: block;
    padding: 7px 12px;
    border-radius: 4px;
    border: 1px solid #36bea6;
    margin-top: 10px;
}

.e-hide {
    display:none !important;
}

@media  (min-width: 290px) and (max-width: 850px) {


    .block-list-job {
        padding-left: 0px;
        -webkit-box-ordinal-group: 2;
        order: 2;
        width: 100%;
    }

    .block-list-job .item-list-job {
        min-height: 160px;
        padding: 10px 10px 10px 110px;
        border-radius: 8px;
        margin-bottom: 10px;
    }

    .block-list-job .item-list-job {
        position: relative;
        width: 100%;
        min-height: 160px;
        padding: 10px 145px 10px 180px;
        border: 1px solid #e5e5e5;
        position: relative;
        background-color: #f7fbff;
        border-radius: 8px;
        margin-bottom: 12px;
        top: 0;
        -webkit-transition: .3s;
        transition: .3s;
        cursor: pointer;
    }

    .block-list-job .item-list-job .list-job-img {
        background-color: #fff;
        position: absolute;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        top: 10px;
        left: 10px;
        width: 140px;
        height: 140px;
        border: 1px solid #e5e5e5;
        border-radius: 2px;
        overflow: hidden;
    }

    .block-list-job .item-list-job.list-page {
        padding: 10px 10px 10px 110px;
    }

    .item-list-job .list-job-img img {
        max-height: 85px !important;
    }

    .block-list-job .item-list-job .list-job-img {
        width: 85px;
        height: 85px;
    }
    
    .block-list-job .item-list-job .list-job-img img {
        max-height: 85px !important;
        max-width: 100%;
    }

    .block-list-job .item-list-job.list-page .list-job-action {
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        position: relative;
    }

    .fillter-list-action {
        padding-right: 0px;
        -webkit-box-ordinal-group: 2;
        order: 1;
        width: 100%;
    }

    .card-body .card-apply-job {
        padding : 0px;
    }

    .wizard-content .wizard > .content > .body {
        padding : 0px;
    }

    .block-list-job .item-list-job .list-job-action {
        width: 100%;
    }
}

@media (min-width: 992px) {
    .modal-dialog {
        max-width: 80%;
    }
}