body {
    font-family: 'sarabun_new', sans-serif;
    font-size: 16px;
    width: 95%;
    margin: auto;
}

.topic {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse:collapse;
    border: 1px solid black;
}

table th {
    text-align: center;
    border-collapse:collapse;
    border-bottom: 1px solid black;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 3px;
    padding-bottom: 3px;
}

table td {
    border-collapse:collapse;
    border-bottom: 1px dotted black;
}
